.page-sidebar-closed:not(.mobile) .nav-bar .main-menu .category-title>.title,
.page-sidebar-closed:not(.mobile) .nav-bar .main-menu .link-levelone span,
.page-sidebar-closed:not(.mobile) .nav-bar .main-menu .link-leveltwo span {
  display: none;
}

.gk-cursor-pointer {
  cursor: pointer;
}

.page-sidebar-closed:not(.mobile) .nav-bar {
  overflow: visible;
  width: 50px;
  width: 3.125rem;
}

.page-sidebar-closed:not(.mobile) .nav-bar .main-menu .link-levelone .link, .page-sidebar-closed:not(.mobile) .nav-bar .main-menu .link-leveltwo .link {
  line-height: normal;
}

.menu-collapse .material-icons:last-child {
  margin-left: -1.313rem;
}

.menu-collapse {
  color: #bebebe;
  cursor: pointer;
  display: block;
  line-height: 13.008px;
  line-height: .813rem;
  padding: .688rem .5rem .688rem 0rem;
  text-align: right;
}

.page-sidebar-closed:not(.mobile) .menu-collapse {
  -webkit-transform: rotate(180deg);
  padding-right: .8rem;
  transform: rotate(180deg);
}

.main-menu .link-levelone>.link, .main-menu .link-leveltwo>.link {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: end;
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* font-size: 12px; */
  /* font-size: .75rem; */
  height: auto;
  line-height: 16px;
  line-height: 1rem;
  overflow: hidden;
  padding: .5rem .3125rem .5rem .938rem;
  text-decoration: none;
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
}

.list-group-item.collapse-drawer span,
.link-levelone .collapse-drawer span {
  display: block;
  color: white;
  text-align: right;
}

.link-levelone .collapse-drawer span i,
.list-group-item.collapse-drawer span i {
  color: white;
}

img#preview_image {
  max-width: 150px;
}

a > i.material-icons {
  color: #25b9d7;
}

.selected-tag {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 2px 5px;
}

.selected-tag:hover {
  background: #25b9d7;
  color: white;
}

.selected-tag > .delete-post-tag {
  cursor: pointer;
}
.nav-bar {
  -webkit-transition: all .5s ease-out;
  background: #363a41;
  bottom: 0;
  height: 100%;
  margin-top: 5rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all .5s ease-out;
  width: 210.08px;
  width: 13.13rem;
  z-index: 502;
}

.main-menu {
  margin: 0;
  padding: 0 0 5.313rem;
}

.active .link, .main-menu .link-levelone.ul-open .link, .main-menu .ul-open.link-leveltwo .link {
  background: #202226;
}

.main-menu .-active.link-leveltwo > .link, .main-menu .-hover.link-leveltwo > .link, .main-menu .link-levelone.-active > .link, .main-menu .link-levelone.-hover > .link, .main-menu .link-levelone.ul-open > .link, .main-menu .ul-open.link-leveltwo > .link {
  -webkit-transition: background .3s ease;
  background: #202226;
  color: #fff;
  transition: background .3s ease;
}

.main-menu .link-levelone > .link, .main-menu .link-leveltwo > .link {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: end;
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: .75rem;
  height: auto;
  line-height: 16px;
  line-height: 1rem;
  overflow: hidden;
  padding: .5rem .3125rem .5rem .938rem;
      padding-left: 0.938rem;
  text-decoration: none;
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
  display: block;
}

.main-menu .-active.link-leveltwo > .link, .main-menu .link-levelone.-active > .link {
  border-left: .25rem solid #25b9d7;
  padding-left: .638rem;
}

.main-menu .-active.link-leveltwo .link, .main-menu .link-levelone.-active .link, .main-menu .link-levelone.ul-open .link, .main-menu .ul-open.link-leveltwo .link {
    background: #202226;
}

.list-group  .list-group-item .link,
.list-group  .link-levelone .link {
  color: white;
  text-decoration: none;
}

.list-group .list-group-item,
.list-group .link-levelone {
  background: transparent;
  border: 1px solid rgba(0,0,0,.125);
  padding: 0px;
}

.list-group  .list-group-item:first-child,
.list-group  .list-group-item:last-child,
.list-group  .link-levelone:first-child,
.list-group  .link-levelone:last-child {
  border-radius: 0;
}

.link .material-icons {
  color: #fff;
  font-size: 19.008px;
  font-size: 1.188rem;
  line-height: inherit;
}

.main-menu .link span {
  padding-left: .625rem;
}


.list-group  .link-levelone:hover {
  border-left: 2px solid white;
  background: #00000057;
}


/* .list-group  .link-levelone a.link {
  display: block;
  outline: none;
} */

.list-group .link-levelone.active {
  border-color: transparent;
  border-left: 2px solid white;
  background: #202226;
}

header#header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #dbcbcb;
  z-index: 2;
}

#content.bootstrap {
  -webkit-transition-duration: .4s;
  -webkit-transition-property: margin;
  -webkit-transition-timing-function: ease-out;
  padding: 120px 10px 0 225px;
  transition-duration: .4s;
  transition-property: margin;
  transition-timing-function: ease-out;
}

@media (max-width: 1200px) {
  body.mobile #content.bootstrap {
      padding-left: .625rem;
  }
}

.page-sidebar-closed:not(.mobile) #content, .page-sidebar-closed:not(.mobile) .content-div {
  -webkit-transition: padding 1s ease;
  transition: padding 1s ease;
}

.page-sidebar-closed:not(.mobile) #content {
  padding-left: 4.0625rem;
}

.mobile #content.bootstrap {
  margin-left: 0!important;
  padding: 140px 5px 0;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  color: black;
}

span.delete-post-tag >i..material-icons {
  color: white;
}




/* 

.nav-bar {
  -webkit-transition: all .5s ease-out;
  background: #363a41;
  bottom: 0;
  height: 100%;
  margin-top: 5rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all .5s ease-out;
  width: 210.08px;
  width: 13.13rem;
  z-index: 502;
}

.main-menu {
  margin: 0;
  padding: 0 0 5.313rem;
}


.active .link, .main-menu .link-levelone.ul-open .link, .main-menu .ul-open.link-leveltwo .link {
  background: #202226;
}

.main-menu .-active.link-leveltwo > .link, .main-menu .-hover.link-leveltwo > .link, .main-menu .link-levelone.-active > .link, .main-menu .link-levelone.-hover > .link, .main-menu .link-levelone.ul-open > .link, .main-menu .ul-open.link-leveltwo > .link {
  -webkit-transition: background .3s ease;
  background: #202226;
  color: #fff;
  transition: background .3s ease;
}

.main-menu .link-levelone > .link, .main-menu .link-leveltwo > .link {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: end;
  color: #bebebe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-size: .75rem;
  height: auto;
  line-height: 16px;
  line-height: 1rem;
  overflow: hidden;
  padding: .5rem .3125rem .5rem .938rem;
      padding-left: 0.938rem;
  text-decoration: none;
  text-overflow: clip;
  white-space: normal;
  word-break: break-word;
  display: block;
}

.main-menu .-active.link-leveltwo > .link, .main-menu .link-levelone.-active > .link {
  border-left: .25rem solid #25b9d7;
  padding-left: .638rem;
}

.main-menu .-active.link-leveltwo .link, .main-menu .link-levelone.-active .link, .main-menu .link-levelone.ul-open .link, .main-menu .ul-open.link-leveltwo .link {
    background: #202226;
}

.list-group  .list-group-item .link {
  color: white;
  text-decoration: none;
}

.list-group .list-group-item {
  background: transparent;
  border: 1px solid rgba(0,0,0,.125);
}

.list-group  .list-group-item:first-child,
.list-group  .list-group-item:last-child {
  border-radius: 0;
}

.link .material-icons {
  color: #fff;
  font-size: 19.008px;
  font-size: 1.188rem;
  line-height: inherit;
}

.main-menu .link span {
  padding-left: .625rem;
}


.list-group  .list-group-item:hover {
  border-left: 2px solid white;
  background: #00000057;
}


.list-group  .list-group-item a.link {
  display: block;
  outline: none;
}

.list-group .list-group-item.active {
  border-color: transparent;
  border-left: 2px solid white;
  background: #202226;
}

header#header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #dbcbcb;
  z-index: 2;
}

div#main {
  margin-top: 6rem; */
/* } */

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


.gk-space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#data_table_post_processing {
  margin-top: 35px;
  color: green;
  margin-left: -700px;
  font-size: 22px;
  font-style: inherit;
  font-weight: bold;
}
.error{
  color: red;
}